/*PRODUCTS PAGE AND GRID*/
.productsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
}
.productsGridBox {
  margin: 0.1rem;
  padding: 1rem;
  background-color: $myColor;
}

$productMap: (
  header: 3rem,
  item: 2rem,
);

@each $key, $value in $productMap {
  .productsGridBox-#{$key} {
    font-size: $value;
  }
}

.producsItem {
  list-style-type: none;
}
